@import url('https://fonts.cdnfonts.com/css/albert-sans');
@import url('https://fonts.cdnfonts.com/css/vermin-vibes-v');
@import url('https://fonts.cdnfonts.com/css/cowmondior');
@import url('https://fonts.cdnfonts.com/css/michroma-2');
@import url('https://fonts.cdnfonts.com/css/ungai');
@import url('https://fonts.cdnfonts.com/css/game-of-squids');
@import url('https://fonts.cdnfonts.com/css/pixel-lcd7');





@keyframes first {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(100deg);
  }
}

@keyframes second {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(150deg);
  }
}

@keyframes third {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(111deg);
  }
}


@keyframes Shine {
  100% {
    transform: translateX(100%);
  }
}

@keyframes Wave {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}



/* Vars */
:root {
  --main_font: 'Albert Sans', sans-serif;
  --game_font: 'Vermin Vibes V', sans-serif;
  --playful_font: 'Cowmondior', sans-serif;
  --span_font: 'Michroma', sans-serif;
  --samurai_font: 'Ungai', sans-serif;
  --squid_font: 'Game Of Squids', sans-serif;
  --pixel_font: 'Pixel LCD7', sans-serif;

  /* Main Colors */
  --bg_color: rgb(19, 18, 23);
  --bg_color_rgba: 19, 18, 23;
  --bg_color_light: rgb(27, 26, 31);
  --bg_color_super_light: rgb(32, 31, 36);
  --bg_color_dark: #12161F;
  --main_color2: rgb(202, 47, 60);
  --main_color_border: rgb(182, 40, 51);
  --main_color_light: rgb(226, 52, 67);
  --main_color_hover: rgb(177, 42, 53);

  --main_color: rgb(202, 47, 60);
  --main_sec_color: rgb(29, 51, 72);

  /* Utils Colors */
  --red_color: rgb(219, 43, 43);
  --light_red: #FF6C6C;
  --light_red_hover: #ff5a5a;
  --green_color: rgb(33, 136, 85);
  --light_green: rgb(147, 239, 147);
  --light_green_hover: rgb(116, 218, 116);
  --gray_color: #8e8e8e;
  --yellow_color: #F2C94C;
}



/* Body styling */
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg_color);
}

/* Other styles remain unchanged */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.BtnPrimary {
  background-color: var(--main_color);
  border: 1px solid rgba(70, 14, 18, 0.8);
  color: rgba(70, 14, 18, 0.8);
  font-family: var(--span_font);
  cursor: pointer;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}

.BtnPrimary:hover {
  background-color: #ca2f3ce6;
}

.BtnSecondary {
  background-color: transparent;
  border: 1px solid var(--main_color);
  color: var(--main_color);
  font-family: var(--span_font);
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.BtnSecondary:hover {
  background-color: rgba(202, 47, 60, 0.1);
}

.ClipPath {
  clip-path: polygon(25px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0% 100%, 0 25px);
}

.scroll-y::-webkit-scrollbar {
  width: 5px;
}

.scroll-y::-webkit-scrollbar-thumb {
  background-color: rgb(46, 45, 53);
  border-radius: 4px;
}

.scroll-y::-webkit-scrollbar-thumb:hover {
  background-color: rgb(35, 35, 41);
}

.scroll-y::-webkit-scrollbar-track {
  background: transparent;
}


.GradientBtn {
  background: linear-gradient(-45deg, var(--main_color), var(--main_color_light), var(--main_color_hover), var(--main_color));
  background-size: 400% !important;
  -webkit-animation: Gradient 10s ease infinite !important;
  -moz-animation: Gradient 10s ease infinite !important;
  animation: Gradient 10s ease infinite !important;
}

.GlassMorphism {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.BorderBottomEffect {
  background-image: linear-gradient(90deg, rgba(142, 45, 226, 0) 15%, rgba(73, 91, 134, 0.4) 50%, rgba(142, 45, 226, 0) 85%);
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

/* Toast */
@keyframes Toast--animateIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Toast--animateOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);
  }
}

.loader {
  --path: var(--main_color);
  --dot: white;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@-webkit-keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@-webkit-keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

